.pagination {
    display: flex;
    justify-content: center;
    margin: 96px auto;
}

/* Estilos para botones */
.btn_page_next {
    width: 32px;
    height: 32px;
    margin: 0 0 0 8px;
    padding: 5px 9px;
    border-radius: 6px;
    border: solid 1px #d9d9d9;
    background-color: #fff;
}

.btn_page_next:hover {
    border: 2px solid #1890ff;
    background-color: #1890ff;
    color: #fff;
}

.btn_page_prev {
    width: 32px;
    height: 32px;
    margin: 0 8px 0 0;
    padding: 5px 9px;
    border-radius: 6px;
    border: solid 1px #d9d9d9;
    background-color: #fff;
}

.btn_page_prev:hover {
    border: 2px solid #1890ff;
    background-color: #1890ff;
    color: #fff;
}

.page_link {
    position: relative;
    width: 32px;
    height: 32px;
    margin: 0 8px 0 0;
    padding: 5px 9px;
    border-radius: 6px;
    border: solid 1px #d9d9d9;
    background-color: #fff;
}

.page_link:focus {
    z-index: 3;
    color: #fff;
    border: 2px solid #1890ff;
    background-color: #1890ff;
    outline: 0;
    font-weight: bold;
}

.page_link:hover{
    border: 2px solid #1890ff;
    background-color: #1890ff;
    color: #fff;
}

.page_active{
    z-index: 999;
    color: #fff;
    border: 2px solid #1890ff;
    background-color: #1890ff;
    outline: 0;
    font-weight: bold;
}

/*Media query*/
@media (max-width: 600px) {
    .pagination {
      font-size: 12px;
    }
    .next,
    .prev {
      display: none;
    }
  }
  @media (max-width: 600px) {
    .pagination {
      font-size: 14px;
    }
  }

  