.container__filter {
    margin-top: 63px;
}

.selectbox {
	width: 240px;
    height: 32px;
}

.select {
	background-color: #fff;
	width: 100%;
	border-radius: 4px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: .2s ease all;
	padding: 10px;
	position: relative;
	z-index: 200;
	border: 2px solid transparent;
    border: solid 1px #2e2e2e;
}

.select i {
	font-size: 20px;
	margin-left: 30px;
	color: #2e2e2e;
}

.title {
	color: #343434;
	font-weight: 600;
	font-size: 14px;
}

.options {
	background: #fff;
	box-shadow: 0 2px 2px 0 #dad8d8;
	max-height: 400px;
	z-index: 100;
	width: 240px;
	height: 139px;
	position: relative;
	display: none;
	border: transparent;
}

.options.active {
	display: block;
}

.container-option {
	width: 100%;
	display: flex;
	align-items: center;
	transition: .2s ease all;
}

.options .container-option {
	height: 46px;
	padding: 10px;
}

.container-option img {
	width: 24px;
	height: 24px;
	margin-right: 13px;
}

.options .container-option:hover {
	background: #eaeaea;
}

@media screen and (max-width: 800px){
	.selectbox {
		width: 100%;
	}
}