/* ===================== GENERAL SETTINGS ===================== */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none; 
  list-style: none; 
}

:root {
  --color-bg: #fcfcfc;
  --azure: #1797ff;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-ms: 90%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-bg);
}

/* ===================== GENERAL STYLES ===================== */
.container__header,
.container__navbar,
.container__filter,
.container__card {
  margin-left: 150px;
  margin-right: 150px;
}


/* ===================== MEDIA QUERIES (MEDIUM DEVICES) ===================== */
@media screen and (max-width: 1024px) {
 
}

/* ===================== MEDIA QUERIES (SMALL DEVICES) ===================== */
@media screen and (max-width: 600px) {
  .container__header,
  .container__navbar,
  .container__filter,
  .container__card {
  margin-left: 50px;
  margin-right: 50px;
}
}
